@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "product-sans";
  src: url("/fonts/Product Sans Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
